<!--The content below is only a placeholder and can be replaced.-->
<mat-card >
  <mat-card-title>
    Welcome to {{ title }}!<br>
    People
  </mat-card-title>
  <mat-card-content>
    <mat-list #selectedPeople ripple="true">
      <mat-list-item *ngFor="let person of _people.value" (click)="selectPerson(person)">
        <mat-radio-button> {{person.givenName}} {{person.surName}}</mat-radio-button>
      </mat-list-item>
      </mat-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>
    Person
  </mat-card-title>
  <mat-card-content *ngIf="selectedPerson">
    <div class="ngfs-container">

      <mat-form-field class="ngfs-full-width" >
        <input name="idInput" matInput placeholder="Id" value={{selectedPerson.id}} disabled="true"/>
      </mat-form-field>

      <mat-form-field class="ngfs-full-width">
        <input name="surNameInputmatInput" matInput placeholder="Given Name"  [(ngModel)]="selectedPerson.givenName"/>
      </mat-form-field>

      <mat-form-field class="ngfs-full-width">
        <input name="givenNameInput" matInput placeholder="SurName" [(ngModel)]="selectedPerson.surName"/>
      </mat-form-field>

  </div>
</mat-card-content>
<mat-card-footer>
    <button mat-button  name="newButton" (click)="newPerson()">New</button>
    <button mat-button name="saveButton" (click)="savePerson()" *ngIf="selectedPerson">Save</button>
    <button mat-button name="subscribeButton" (click)="subscribe()" *ngIf="selectedPerson">Track Changes</button>
</mat-card-footer>
</mat-card>
<router-outlet></router-outlet>
